<%-include('./partials/header.ejs')%>
<%-include('./partials/navBar.ejs')%>
<div class="container">
    <hr>
    <h2>Anuncios</h2>
    <hr>
    <table class="table table-bordered">
        <form action="/advert" method="get">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="col-auto">
                <label for="inputPassword6" class="col-form-label ">Pesquisar</label>
                </div>
                <div class="col-4 inline" >
                    <input type="text" name="cliente" class="form-control float-left" placeholder=" Nome do cliente ou Intervalo de tempo">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="submit">Ok</button>
                </div>
                <%-include('./partials/footer.ejs')%>
                <thead>
                    <tr>
                        <th>Anuncio</th>
                        <th>Total Investido R$</th>
                        <th>Visualizações</th>
                        <th>cliques</th>
                        <th>Compartilhamentos</th>
                    </tr>
                </thead>
                <tbody>
                    <%if(data.clicks!=0){%>

                        <%data.forEach(advert=>{%>
                            <tr>
                                <td><%=advert.name%></td>
                                <td>R$ <%=advert.total.toFixed(2)%></td>
                                <td><%=advert.visualizations%></td>
                                <td><%=advert.clicks%></td>
                                <td><%=advert.sharings%></td>
                                </td>
                            </tr>
                        <%})%>
                    <%}%>
                </tbody>
            </div>
        </form>
          <br>
    </table>
</div>
